<div class="row">

	<div class="col-md-4">

		<%= image_tag @recipe.recipe_img.url(:recipe_show), class: "recipe-show" %>

	</div>

	<div class="col-md-8">

		<div class="recipe-info">
			<h2 class="recipe-title"><%= @recipe.name %></h2>
			<h3 class="recipe-author"><%= @recipe.author %></h3>
			<h2 class="avg-rating">Average Rating</h2>
			<div class="average-review-rating" data-score=<%= @average_review %>></div>
			<span class="number-of-reviews">Based on <%= @recipe.reviews.count %> reviews</span>
			<p class="recipe-desc"><%= @recipe.description %></p>
		</div>
	</div>
</div>

 <div class="links btn-group">

	<% if user_signed_in? %>

	<% if @recipe.user_id == current_user.id %>

<%= link_to "Edit", edit_recipe_path(@recipe),:class => "btn btn-custom" %>
<%= link_to "Delete", recipe_path(@recipe),:class => "btn btn-custom", method: :delete, data: { confirm: "Are you sure you want to delete?"} %>


	<% end %>


<% end %>

</div>
<div class="row">

	<div class="col-md-4">
		<div class="reviews">
			<h1>Reviews</h2>

		<%= render @recipe.reviews %>

		<div class="links btn-group">
			<%= link_to "Add Review", new_recipe_review_path(@recipe), class: "btn btn-custom" %>

	<%= link_to "Back", root_path, class: "btn btn-custom" %>
		</div>
	</div>

</div>

</div>


<script>
$('.review-rating').raty({
	readOnly: true,
	score: function(){
		return $(this).attr('data-score');
	};
	path: '/assets/'
});
</script>


<script>
$('.average-review-rating').raty({
	readOnly: true,
	path: '/assets/',
	score: function(){
		return $(this).attr('data-score');
	};
});
</script>

